﻿@{
    
    Layout = null;
}
<script>
    $('#nav li a').each(function (i) {
        var id = $(this).removeClass('active');
    });
    $('#tab_ran').addClass('active');


</script>
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/css/fonts/bootstrap-multiselect.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<style>
    .table-cont {
        /*max-height: 500px;*/
        overflow: auto;
        margin: 20px 10px;
    }

    .table-cont1 {
        min-height: 650px;
        /*border: 2px solid #444444;*/
        overflow: auto;
        position: relative;
    }

        .table-cont1 table {
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 0;
            position: absolute;
            width: 100%;
        }

    th,
    td {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 3px 5px;
        width: 100px;
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        font-size: 8pt;
    }

    td {
        background: #fff;
    }

    th,
    .fixed-cell {
        background: #eee;
    }

    .cross {
        position: relative;
        z-index: 1;
    }

    .th {
        padding: 3px 5px;
        width: 130px;
        font-size: 12pt;
        background-color: #0018ca;
        font-family: Calibri;
        color: white;
    }

    .table-cont1 tbody tr td {
        font-size: 16px;
        /* font-weight: 100; */
        background: #fff;
        font-family: Calibri;
        background: #fff;
    }

    .bg-yellow {
        background: yellow;
    }

    ul.list-tabcontainer {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: calc(100% - 40%);
        border: 1px solid #e4e4e4;
    }

    .list-tabcontainer li {
        cursor: pointer;
        text-transform: capitalize;
        font-size: 1.1rem;
        line-height: 20px;
        padding: 10px;
        text-align: center;
    }

    .bg-red {
        background: red;
        color: #fff;
    }

    .progress-bar-warning {
        /*width: 75%!important;*/
    }

    .progress-bar-danger {
        /*width: 80%!important;*/
    }

    .progress-bar-success {
        width: 100% !important;
    }

    .color_orange {
        color: orange;
        font-weight: 600;
    }

    .pop-table th, .pop-table2 td {
        text-align: left !important;
        padding-left: 8px !important;
    }

    ul.list-tabcontainer .tablinks.active {
        background: #000;
        color: #fff;
    }
</style>



<div class="row" id="yourControllerElementID" data-ng-controller="GCDashboardControllerNew">
    <loading></loading>
    <div class="page-header">
        <h2>RAN Support Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="widget widget-table action-table">
                <div class="widget-content">
                    <div class="row text-right" style="margin: 0;" data-ng-if="IsAuthonticated">
                        <a title="Download template file" href="~/Template-files/Ran_Support_Dashboard.xlsx" download="Ran_Support_Dashboard.xlsx" target="_blank" class="btn btn-success btn-sm pull-right"><i class="fa fa-download"></i>Download Template</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="row" style="margin: 0;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="th">Timezone</th>
                                            <th class="th">Current Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="x in MarketTimeList">
                                            <td>{{x.market}}({{x.zone_value}}hrs)</td>
                                            <td>{{x.current_time}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-md-5 col-lg-offset-1 col-offset-sm-1 col-offset-md-1">
                            <div data-ng-show="!IsTmobUser" class="row" style="margin: 0;">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label>Account</label>
                                    <div class="form-group" data-ng-class="{ 'has-error' : FormGc.ddl_account.$invalid && FormGc.$submitted }">
                                        <select class="form-control" data-ng-model="SelectedAccount" name="ddl_account" id="ddlaccountnew" data-ng-change="ddl_account_Change()" required>
                                            <option value="">--All--</option>
                                            <option value="{{x.id}}" data-ng-repeat="x in AccountList">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label>Market</label>
                                    <div class="form-group" data-ng-class="{ 'has-error' : FormGc.ddl_market.$invalid && FormGc.$submitted }">
                                        <select class="form-control" data-ng-model="SelectedMarket" name="ddl_market" id="ddlmarketnew" required>
                                            <option value="">--All--</option>
                                            <option value="{{x.id}}" data-ng-repeat="x in MarketList">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0;">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label>Start Date</label>
                                    <div class="input-group date" moment-picker="txt_start_date" format="MM/DD/YYYY" start-view="month" today="true">
                                        <input type="text" class="form-control" name="txt_start_date" data-ng-model="txt_start_date" ng-model-options="{ updateOn: 'blur' }">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <label>End Date</label>
                                    <div class="input-group date" moment-picker="txt_end_date" format="MM/DD/YYYY" start-view="month" today="true">
                                        <input type="text" class="form-control" name="txt_end_date" data-ng-model="txt_end_date" ng-model-options="{ updateOn: 'blur' }">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px">
                                <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                                    <input type="button" class="btn btn-success" value="Search" data-ng-click="searchData()" />
                                    <input type="button" class="btn btn-default" value="Reset" data-ng-click="BtnReset_Click()" />
                                    @*<input type="button" class="btn btn-success" value="Filter Dashboard" data-ng-click="btnFilterdashboard();" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="widget widget-table action-table">
                <div class="widget-content">
                    <div class="row" style="margin: 0; margin-bottom: 2%; text-align: right">
                        <form name="FormUpload" data-ng-submit="SaveUploadFile(FormUpload.$valid)" novalidate data-ng-if="IsAuthonticated">
                            <div class="col-lg-1 col-sm-1 col-md-1 col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
                                <label class="star">Select File</label>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2" style="overflow:hidden">
                                <div class="form-group" data-ng-class="{ 'has-error' : FormUpload.FileUpload1.$invalid && FormUpload.$submitted }">
                                    <input type="file" data-ng-model='UploadFile' onchange="angular.element(this).scope().uploadFile(this.files)" name="FileUpload1" id="FileUpload1" required />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 col-md-1">
                                <label class="star">Remarks</label>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                <div class="form-group" data-ng-class="{ 'has-error' : FormUpload.txt_remarks.$invalid && FormUpload.$submitted }">
                                    <input type="text" class="form-control" name="txt_remarks" data-ng-model="txt_remarks" required />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 col-md-1">
                                <input type="submit" class="btn btn-success" value="Upload" />
                            </div>
                        </form>
                        <input data-ng-if="IsAuthonticated" type="button" class="btn btn-success" value="On The Fly" data-ng-click="openModelNewsite()" />
                        <input type="button" class="btn btn-success" value="Map View" data-ng-click="ViewAllSiteOnMap(0);" />
                        <input type="button" class="btn btn-success" value="Export to Excel" data-ng-click="Export_Click();" />
                    </div>
                    <div class="row" style="margin: 0; margin-bottom: 2%; overflow: auto;">
                        <div class="table-cont1" fixed-column-table fixed-columns="5" refreshFixedColumns>
                            <table  id="table">
                                <thead>
                                    <tr>
                                        <th class="th" cla>Scheduled Date</th>
                                        <th class="th">Chat</th>@*Divyam added 07/22*@
                                        <th class="th" style="width:200px">ENTRY MODE</th>
                                        <th class="th">Service Affecting</th>
                                        <th class="th">RF Approval</th>
                                        <th class="th">Main ID</th>
                                        <th class="th" style="width:250px;">Project Code</th>
                                        <th class="th" style="width:250px">Technology</th>
                                        <th class="th">PAG Trouble Ticket</th>
                                        <th class="th" style="width:200px">Planned SoW</th>
                                        <th class="th">Day MOP or Night MOP</th>
                                        <th class="th">RF Approved MW Time</th>
                                        <th class="th">Manual Precheck Request</th>
                                        <th class="th">Login Time PreChecks Requested(Mob-App)</th>
                                        <th class="th">PRE-CHECKs</th>
                                        <th class="th">Log in time PreCheck Delivered</th>
                                        <th class="th">Nesting Time</th>
                                        <th class="th">Progress</th>
                                        <th class="th">Crew</th>
                                        <th class="th">Call Test Activity</th>
                                        <th class="th">Manual Postcheck Request</th>
                                        <th class="th">Logout Time PostChecks Requested(Phone e-mail or Mobile-App)</th>
                                        <th class="th">Post Checks</th>
                                        <th class="th">Log out time Postchecks delivered</th>
                                        <th class="th">Pier Updated</th>
                                        <th class="th">Site Type</th>
                                        <th data-ng-if="IsAuthonticated" class="th">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr dir-paginate="x in ranDashboarddata|itemsPerPage:50" current-page="currentPage">
                                        <td class="td tdfix" style="background: #eee;">
                                            {{x.Scheduled_Date}}
                                            <span data-ng-if="x.mobileLoginTime!='0' && x.precheck_deliver_date=='0'">
                                                <button class="btn btn-danger" title="Precheck not submitted."><i class="fa fa-bell" title="Precheck not submitted."></i></button>
                                            </span>
                                            <span data-ng-if="x.mobileLogoutTime!='0' && x.postcheck_deliver_date=='0'">
                                                <button class="btn btn-danger" title="Postcheck not submitted."><i class="fa fa-bell" title="Postcheck not submitted."></i></button>
                                            </span>
                                        </td>
                                        @*Divyam added 07/22*@
                                        <td>
                                            <input title="chat" type="button" class="btn btn-success" value="Chat" data-ng-click="btn_chat(x.schedule_id,x.site_id)" />
                                        </td>
                                        @*Divyam added 07/22*@
                                        <td ng-style="((x.status=='0' || x.status=='1') && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date=='0' && {'background':'cornflowerblue'}) || ((x.status=='1' || x.status=='0') && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime=='0' && x.postcheck_deliver_date=='0' && {'background':'yellow'}) || ((x.status=='0' || x.status=='1') && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date!='0' && {'background':'green'}) || ((x.status=='1' || x.status=='0') && x.RF_Approval=='2' && {'background':'red'})">
                                            <span data-ng-if="x.status=='1' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime=='0' && x.postcheck_deliver_date=='0'">
                                                <a href="javascript:" style="color: #0e61da;" data-ng-click="openLoginPage(x.schedule_id)">Scheduled/Login Awaited</a>
                                            </span>
                                            <span data-ng-if="x.status=='0' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime=='0' && x.postcheck_deliver_date=='0'">
                                                <a href="javascript:" style="color: #0e61da;" data-ng-click="openLoginPage(x.schedule_id)">On the Fly/Login Awaited</a>
                                            </span>
                                            <span data-ng-if="x.status=='1' && x.RF_Approval=='2'">
                                                <a href="javascript:" style="color: black;" data-ng-click="openLoginPage(x.schedule_id)">Scheduled/Cancelled</a>
                                            </span>
                                            <span data-ng-if="x.status=='0' && x.RF_Approval=='2'">
                                                <a href="javascript:" style="color: black;" data-ng-click="openLoginPage(x.schedule_id)">On the Fly/Cancelled</a>
                                            </span>

                                            <span data-ng-if="x.status=='1' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date=='0'">
                                                <a href="javascript:" style="color: #0e61da;" data-ng-click="openLoginPage(x.schedule_id)">Scheduled/Ongoing</a>
                                            </span>
                                            <span data-ng-if="x.status=='0' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date=='0'">
                                                <a href="javascript:" style="color: #0e61da;" data-ng-click="openLoginPage(x.schedule_id)">On the Fly/Ongoing</a>
                                            </span>
                                            <span data-ng-if="x.status=='0' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date!='0'">
                                                <a href="javascript:" style="color: black;" data-ng-click="openLoginPage(x.schedule_id)">On the Fly/Completed</a>
                                            </span>
                                            <span data-ng-if="x.status=='1' && (x.RF_Approval=='3' || x.RF_Approval=='1') && x.mobileLoginTime!='0' && x.postcheck_deliver_date!='0'">
                                                <a href="javascript:" style="color: black;" data-ng-click="openLoginPage(x.schedule_id)">Scheduled/Completed</a>
                                            </span>
                                        </td>
                                        <td class="td tdfix" style="background: #eee;">
                                            <span data-ng-if="x.Service_Affecting=='1'">Yes</span>
                                            <span data-ng-if="x.Service_Affecting=='2'">No</span>
                                            <span data-ng-if="x.Service_Affecting==''"></span>
                                        </td>
                                        <td class="td tdfix" style="background: #eee;" ng-style="(x.RF_Approval=='1' && {'background':'green'}) || (x.RF_Approval=='2' && {'background':'red'}) || (x.RF_Approval=='3' && {'background':'yellow'})">
                                            <span data-ng-if="x.RF_Approval=='1'">Approved</span>
                                            <span data-ng-if="x.RF_Approval=='2'">Not Approved</span>
                                            <span data-ng-if="x.RF_Approval=='3'">Pending</span>
                                        </td>
                                        <td class="td" style="background: #eee;"><a href="javascript:" style="color: #0e61da;" data-ng-click="getsiteDetailsWithMap(x.schedule_id)">{{x.site_id}}</a></td>
                                        <td style="width:250px;word-break:break-word;">{{x.Work_Order_No}}</td>
                                        <td style="width:250px">{{x.POR}}</td>
                                        <td class="td">
                                            <span data-ng-if="x.ttid!='0'">{{x.ttid}}</span>
                                            <span data-ng-if="x.ttid=='0'">NA</span>
                                        </td>
                                        <td style="width:250px">
                                            {{splitSow(x.Planned_SoW)}}
                                        </td>
                                        <td>
                                            <span data-ng-if="x.Day_MOP_Night_MOP=='1'">Day MOP</span>
                                            <span data-ng-if="x.Day_MOP_Night_MOP=='2'">Night MOP</span>
                                            <span data-ng-if="x.Day_MOP_Night_MOP==''"></span>
                                        </td>
                                        <td>{{x.RF_Approved_MW_Time}}</td>
                                        <td ng-style="(x.precheck_deliver_date=='0' && x.mobileLoginTime=='0' && {'background':'yellow'})">
                                            <span data-ng-if="x.mobileLoginTime=='0' && x.precheck_deliver_date=='0' && x.RF_Approval!='3' && x.RF_Approval!='2'">
                                                <input data-ng-if="IsAuthonticated" title="Request Pre-Check" type="button" style="background-color:yellow;" value="Req Pre-Check" data-ng-click="mobileReq(x.schedule_id,x.site_id,1)" />
                                            </span>
                                            <input data-ng-show="x.mobileLoginTime!='0' && x.precheck_deliver_date=='0' && x.RF_Approval!='3' && x.RF_Approval!='2' && IsAuthonticated" title="Cancel Pre-Check Request" type="button" style="background-color:#d9534f; color:#fff" value="Cancel Request" data-ng-click="CancelMobileReq(x.schedule_id,x.site_id,1)" />
                                        </td>
                                        <td class="td">
                                            <span data-ng-if="x.mobileLoginTime!='0'">{{x.mobileLoginTime}}</span>
                                        </td>

                                        <td class="td" ng-style="(x.precheck_deliver_date!='0' && x.mobileLoginTime!='0' && {'background':'forestgreen'}) || (x.mobileLoginTime!='0' && x.precheck_deliver_date=='0' && {'background':'yellow'}) || (x.mobileLoginTime=='0' && x.precheck_deliver_date=='0' && {'background':'gray'})">
                                            <span data-ng-if="x.precheck_deliver_date!='0' && x.mobileLoginTime!='0'">Completed</span>
                                            <span data-ng-if="x.mobileLoginTime!='0' && x.precheck_deliver_date=='0' && x.RF_Approval!='3' && x.RF_Approval!='2'">
                                                <input data-ng-if="IsAuthonticated" title="RUN Pre-Check" type="button" style="background-color:yellow;" value="RUN Pre-Check" data-ng-click="precheckNew(x.schedule_id)" />
                                            </span>
                                        </td>
                                        <td class="td">
                                            <span data-ng-if="x.precheck_deliver_date=='0'"></span>
                                            <span data-ng-if="x.precheck_deliver_date!='0'">{{x.precheck_deliver_date}}</span>
                                        </td>
                                        <td class="td">
                                            <span>{{x.nestingTime}}</span>
                                        <td class="td">

                                            @*yellow*@
                                            <fieldset data-ng-show="(x.hourdiff=='1' || x.hourdiff<1) && x.postcheck_deliver_date ==0 ">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="10"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:{{x.percentage}}%" data-ng-class="{ 'progress-bar-warning' :true}" ng-modal="hourdiff">
                                                    </div>
                                                </div>
                                            </fieldset>

                                            @*red*@
                                            <fieldset data-ng-show="x.nestingTime<difffromcurtime && x.postcheck_deliver_date=='0' && x.postcheck_deliver_date!=null && x.hourdiff>1">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="10"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:{{x.percentage}}%" data-ng-class="{ 'progress-bar-danger' :true}" ng-modal="datediff">
                                                    </div>
                                                </div>
                                            </fieldset>

                                            @*blue*@
                                            <fieldset data-ng-show="x.RF_Approval=='1' && x.postcheck_deliver_date=='0' && x.hourdiff>1">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="10"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:{{x.percentage}}%" data-ng-class="{ 'progress-bar-primary' :true}" ng-modal="datediff">
                                                    </div>
                                                </div>
                                            </fieldset>

                                            @*green*@
                                            <fieldset data-ng-show="x.postcheck_deliver_date!='0' && x.postcheck_deliver_date!=null && x.postcheck_deliver_date!=''">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="10"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:{{x.percentage}}%" data-ng-class="{ 'progress-bar-success' :true}" ng-modal="datediff">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                        <td class="td">
                                            <div data-ng-class="{'progress-bar-warning' : (-1>0)}">
                                                <input title="Crew" type="button" class="btn btn-success" value="Crew" data-ng-click="openModelCrew(x.schedule_id,x.preCopId,x.postCopId,x.timelineId,x.site_id,x.crewImgId,x.POR)" />
                                            </div>
                                        </td>
                                        <td class="td" ng-style="(x.Call_Test=='1' && x.callTestStatus=='0' && {'background':'yellow'}) || (x.Call_Test=='1' && x.callTestStatus=='1' && {'background':'green'}) || (x.Call_Test=='0' && x.callTestStatus=='0' && {'background':'gray'})">
                                            <div data-ng-if="x.Call_Test=='1' && x.callTestStatus=='0' && x.RF_Approval!='3' && x.precheck_deliver_date!='0' && x.RF_Approval!='2'">
                                                <input data-ng-if="IsAuthonticated" type="button" value="Start Call Test" style="background-color:yellow;" data-ng-click="calltestNew(x.schedule_id)" />
                                            </div>
                                            <span data-ng-if="x.Call_Test=='1' && x.callTestStatus=='1'">Completed</span>
                                            <span data-ng-if="x.Call_Test=='0' && x.callTestStatus=='0'">N/A</span>
                                        </td>
                                        <td class="td" ng-style="(x.postcheck_deliver_date=='0' && x.mobileLoginTime!='0' && x.mobileLogoutTime=='0' && {'background':'yellow'}) ">
                                            <span data-ng-if="x.mobileLogoutTime=='0' && x.postcheck_deliver_date=='0' && x.RF_Approval!='3' && x.RF_Approval!='2' && x.mobileLoginTime!='0'">
                                                <input data-ng-if="IsAuthonticated" type="button" title="Request Post-Check" style="background-color:yellow;" value="Req Post-Check" data-ng-click="mobileReq(x.schedule_id,x.site_id,2)" />
                                            </span>
                                            <input data-ng-show="x.mobileLogoutTime!='0' && x.postcheck_deliver_date=='0' && x.RF_Approval!='3' && x.RF_Approval!='2' && IsAuthonticated" title="Cancel Post-Check Request" type="button" style="background-color:#d9534f; color:#fff" value="Cancel Request" data-ng-click="CancelMobileReq(x.schedule_id,x.site_id,2)" />
                                        </td>
                                        <td class="td">
                                            <span data-ng-if="x.mobileLogoutTime!='0'">{{x.mobileLogoutTime}}</span>
                                        </td>
                                        <td class="td" ng-style="(x.postcheck_deliver_date!='0' && x.mobileLogoutTime!='0' && {'background':'forestgreen'}) || (x.mobileLogoutTime!='0' && x.postcheck_deliver_date=='0' && {'background':'yellow'})">
                                            <span data-ng-if="x.postcheck_deliver_date!='0' && x.mobileLogoutTime!='0'">Completed</span>
                                            <span data-ng-if="x.mobileLogoutTime!='0' && x.postcheck_deliver_date=='0' && x.precheck_deliver_date!='0' && x.RF_Approval!='3'">
                                                <input data-ng-if="IsAuthonticated" type="button" style="background-color:yellow;" value="RUN Post-Check" data-ng-click="postcheckNew(x.schedule_id)" />
                                            </span>
                                            <span data-ng-if="x.mobileLogoutTime=='' && x.postcheck_deliver_date==''" style="background-color:gray;">
                                            </span>
                                        </td>
                                        <td class="td">
                                            <span data-ng-if="x.postcheck_deliver_date=='0'"></span>
                                            <span data-ng-if="x.postcheck_deliver_date!='0'">{{x.postcheck_deliver_date}}</span>
                                        </td>
                                        <td class="td">
                                            <span data-ng-if="x.pierUpdated!='0'">{{x.pierUpdated}}</span>
                                        </td>
                                        <td class="td">
                                            <span>{{x.siteType}}</span>
                                        </td>
                                        <td data-ng-if="IsAuthonticated" class="td">
                                            <button title="Delete" class="btn btn-danger btn-sm" data-ng-click="BtnDeleteClick(x.schedule_id);"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot data-ng-if="ranDashboarddata.length=='0'">
                                    <tr>
                                        <td colspan="26">
                                            <h5>No GC Logged in.</h5>
                                        </td>                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row text-right" style="margin:0;" data-ng-if="ranDashboarddata.length>50">
                        <dir-pagination-controls max-size="5" on-page-change="pageChanged(newPageNumber)"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog show='modalShown' dialog-title='Site Details' on-close='logClose()' width="1000">
        <div>
            <ul class="list-tabcontainer">
                <li class="tablinks" ng-style="(showsiteinfo== 1 && {'background':'black','color':'white'})" id="defaultOpen" data-ng-click="getsitedetails(0)">site detail</li>
                <li class="tablinks" ng-style="(showsiteinfo== 2 && {'background':'black','color':'white'})" data-ng-click="ViewSiteOnMap()">Maps View</li>
                <li class="tablinks" ng-style="(showsiteinfo== 3 && {'background':'black','color':'white'})" data-ng-click="getRanhistoricaldata()">RAN Historical</li>
                @*<li class="tablinks" onclick="openList_card(event, 'ix-historical')" data-ng-click="IXHISTORICAL_Click()">IX Historical</li>
                    <li class="tablinks" onclick="openList_card(event, 'kpi historical')" data-ng-click="KPIHISTORICAL_Click()">KPI Historical</li>*@
            </ul>
        </div>
        <div class="row" style="margin:0;" data-ng-if="showsiteinfo== 1">
            @*Login Info*@
            <table class="table table-bordered pop-table">
                <thead>
                    <tr>
                        <th style="background-color:#97ef97; font-size:15px; text-align:center!important" colspan="4"><span>GC Login</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width:230px;">Sow Details</th>
                        <td>
                            <span>{{scheduling[0].sowDetails}}</span>
                        </td>
                        <th style="width:230px;">Sow Comment</th>
                        <td>
                            <span>{{scheduling[0].sowComment}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:230px;">Nesting Time</th>
                        <td>{{scheduling[0].nestingTime}}</td>
                    </tr>
                </tbody>
            </table>

            @*Scheduling Info*@
            <table class="table table-bordered pop-table">
                <thead>
                    <tr>
                        <th style="background-color:#97ef97; font-size:15px; text-align:center!important" colspan="6"><span>Scheduling Info</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width:230px;">Account</th>
                        <td style="width:230px;">{{scheduling[0].Account}}</td>
                        <th style="width:230px;">MARKET</th>
                        <td style="width:230px;">{{scheduling[0].Market}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">Cabinet ID</th>
                        <td style="width:230px;" colspan="5">{{scheduling[0].Cabinet_IDs}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">CX Crew Vendor</th>
                        <td style="width:230px;">{{scheduling[0].CX_Crew_Vendor}}</td>
                        <th style="width:230px;">CX Crew Lead Contact Number</th>
                        <td style="width:230px;">{{scheduling[0].CX_Crew_Ld_Cont_No}}</td>
                        <th style="width:230px;">CX Crew Lead Name</th>
                        <td style="width:230px;">{{scheduling[0].CX_Crew_Ld_Name}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">CX Crew Lead Company</th>
                        <td style="width:230px;">{{scheduling[0].CX_Crew_Ld_Company}}</td>
                        <th style="width:230px;">CX Crew Lead E-mail ID</th>
                        <td style="width:230px;">{{scheduling[0].CX_Crew_Ld_E_mail_ID}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">IX Crew Vendor</th>
                        <td style="width:230px;">{{scheduling[0].IX_Crew_Vendor}}</td>
                        <th style="width:230px;">IX Crew Lead Contact Number</th>
                        <td style="width:230px;">{{scheduling[0].IX_Crew_Ld_Cont_No}}</td>
                        <th style="width:230px;">IX Crew Lead Name</th>
                        <td style="width:230px;">{{scheduling[0].IX_Crew_Ld_Name}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">IX Crew Lead Company</th>
                        <td style="width:230px;">{{scheduling[0].IX_Crew_Ld_Company}}</td>
                        <th style="width:230px;">IX Crew Lead E-mail ID</th>
                        <td style="width:230px;">{{scheduling[0].IX_Crew_Ld_E_mail_ID}}</td>
                        <th style="width:230px;">Service Affecting</th>
                        <td style="width:230px;">{{scheduling[0].Service_Affecting}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">Day MOP or Night MOP</th>
                        <td style="width:230px;">{{scheduling[0].Day_MOP_Night_MOP}}</td>
                        <th style="width:230px;">Reason for Day MOP</th>
                        <td>
                            <div style="border:1px solid #e8e2e2;padding:2px; margin-bottom:2px; min-width:250px;">
                                <span>{{scheduling[0].Reason_for_Day_MOP}}</span>
                            </div>
                        </td>
                        <th style="width:230px;">RF Approval</th>
                        <td style="width:230px;">{{scheduling[0].RF_Approval}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">TMO Deployment Manager</th>
                        <td style="width:230px;">{{scheduling[0].TMO_Deployment_Manager}}</td>
                        <th style="width:230px;">Planned SoW</th>
                        <td style="width:230px;">{{splitSow(scheduling[0].Planned_SoW)}}</td>
                        <th style="width:230px;">RF Approved MW Time</th>
                        <td style="width:230px;">{{scheduling[0].RF_Approved_MW_Time}}</td>
                    </tr>
                    <tr>
                        <th style="width:230px;">Cancellation Reason(if any)</th>
                        <td colspan="6" style="width:230px;text-align:left">{{scheduling[0].rfApprovalRemark}}</td>
                    </tr>
                </tbody>
            </table>

            @*Precheck Info*@
            <div class="row" style="margin:0;">
                <table class="table table-bordered pop-table">
                    <thead>
                        <tr>
                            <th style="background-color:#809ed4; font-size:15px; text-align:center!important" colspan="6"><span>PRECHECK</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Precheck Engineer</th>
                            <td>
                                <span>{{precheckdata[0].precheck_engineer_name}}</span>
                            </td>
                            <th>UMTS IP Contact</th>
                            <td>
                                <span>{{precheckdata[0].umts_up}}</span>
                            </td>
                            <th>UMTS Alarm</th>
                            <td>
                                <span>{{precheckdata[0].umts_alarm}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>LTE IP Contact</th>
                            <td>
                                <span>{{precheckdata[0].lte_up}}</span>
                            </td>
                            <th>LTE Alarm</th>
                            <td>
                                <span>{{precheckdata[0].lte_alarm}}</span>
                            </td>
                            <th>5G IP Contact</th>
                            <td>
                                <span>{{precheckdata[0].five_g_up}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>5G Alarm</th>
                            <td>
                                <span>{{precheckdata[0].five_g_alarm}}</span>
                            </td>
                            <th>BSC IP Contact</th>
                            <td>
                                <span>{{precheckdata[0].gsm_up}}</span>
                            </td>
                            <th>GSM Alarm</th>
                            <td>
                                <span>{{precheckdata[0].gsm_alarm}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Login Precheck Deliver Date</th>
                            <td>
                                <span>{{precheckdata[0].precheck_deliver_date}}</span>
                            </td>
                            <th>Precheck Alarm Issue</th>
                            <td colspan="3">
                                <div style="border:1px solid #e8e2e2;padding:2px; margin-bottom:2px; min-width:250px;">
                                    <span>{{precheckdata[0].precheck_alarm_issue}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @*Postcheck Info*@
            <div class="row" style="margin:0;">
                <table class="table table-bordered pop-table">
                    <thead>
                        <tr>
                            <th style="background-color:#e4af8a; font-size:15px; text-align:center!important" colspan="6"><span>POSTCHECK</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width:110px;">Postcheck Engineer</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].postcheck_engineer_name}}</span>
                            </td>
                            <th style="width:110px;">5G Downtime(If Any)</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].fivegdownTime}}</span>
                            </td>
                            <th>GSM Downtime(If Any)</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].gsmdowntime}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>UMTS Downtime(If Any)</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].umtsdowntime}}</span>
                            </td>
                            <th>LTE Downtime(If Any)</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].ltedowntime}}</span>
                            </td>
                            <th>BSC IP Contact</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].gsm_up}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>GSM Alarm</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].gsm_alarm}}</span>
                            </td>
                            <th>UMTS IP Contact</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].umts_up}}</span>
                            </td>
                            <th>UMTS Alarm</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].umts_alarm}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>5G IP Contact</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].five_g_up}}</span>
                            </td>
                            <th>5G Alarm</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].five_g_alarm}}</span>
                            </td>
                            <th>LTE IP Contact</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].lte_up}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>LTE Alarm</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].lte_alarm}}</span>
                            </td>
                            <th>Was TS or Scripting was Required</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].was_scripting}}</span>
                            </td>
                            <th>Scripting Engineer</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].engineer_responsible_forname}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>TT(s) Opend</th>
                            <td style="width:110px;">
                                <span data-ng-if="postcheckdata[0].ttidstatus=='0'">NO</span>
                                <span data-ng-if="postcheckdata[0].ttidstatus!='0'">YES</span>
                            </td>
                            <th>TT ID(s)</th>
                            <td style="width:70px;">
                                <span data-ng-if="postcheckdata[0].ttidstatus!='0'">{{postcheckdata[0].ttidstatus}}</span>
                            </td>
                            <th>Site Up Time</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].site_up_time_formatted}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Activity went out of approved window</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].activity_went_out}}</span>
                            </td>
                            <th>Time after approved window</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].time_after_approved}}</span>
                            </td>
                            <th>Logout Time Post Delivered Date</th>
                            <td style="width:70px;">
                                <span>{{postcheckdata[0].postcheck_deliver_date}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Activity Status(Site Level)</th>
                            <td style="width:110px;">
                                <span>{{postcheckdata[0].activity_status_site_name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Post check alarms/Issues</th>
                            <td style="width:230px;" colspan="5">
                                <div style="border:1px solid #e8e2e2;padding:2px; margin-bottom:2px; min-width:250px;">
                                    <span>{{postcheckdata[0].post_check_alarms}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Activity Notes</th>
                            <td style="width:230px;" colspan="5">
                                <div style="border:1px solid #e8e2e2;padding:2px; margin-bottom:2px; min-width:250px;">
                                    <span>{{postcheckdata[0].activity_notes}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*Map View*@
        <div id="map_region" style="width:100%; height:400px;" data-ng-if="showsiteinfo == 2"></div>

        @*Ran Historical data*@
        <div data-ng-if="showsiteinfo == 3">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr style="background:#0793ca;color:white;">
                        <th class="th">Scheduled_Date</th>
                        <th class="th">Site Id</th>
                        <th class="th">Project Code</th>
                        <th class="th">Technology</th>
                        <th class="th">Service Affecting</th>
                        <th class="th">Planned SoW</th>
                        <th class="th">Activity Status(POR Level)</th>
                        <th class="th">Cancelled/Rollback Reason</th>
                        <th class="th">Trouble Ticket</th>
                        <th class="th">Trouble Ticket Id</th>
                        <th class="th">Ativity WentOut of Approved Window</th>
                        <th class="th">Time After Approved Window</th>
                    </tr>
                </thead>
                <tbody style="background: #ff03;">
                    <tr data-ng-repeat="x in Ranhistoricaldata">
                        <td>{{x.Scheduled_Date}}</td>
                        <td>{{x.site_id}}</td>
                        <td>{{x.Work_Order_No}}</td>
                        <td>{{x.POR}}</td>
                        <td>{{x.Service_Affecting}}</td>
                        <td>{{splitSow(x.Planned_SoW)}}</td>
                        <td>{{x.activity_status_por}}</td>
                        <td>{{x.cancelled_reason}}</td>
                        <td>
                            <span data-ng-if="x.ttid=='0'">NO</span>
                            <span data-ng-if="x.ttid!='0'">YES</span>
                        </td>
                        <td>
                            <span data-ng-if="x.ttid!='0'">{{x.ttid}}</span>
                        </td>
                        <td>
                            <span data-ng-if="x.activityWent=='0'">NO</span>
                            <span data-ng-if="x.activityWent!='0'">YES</span>
                        </td>
                        <td>
                            <span data-ng-if="x.activityWent!='0'">
                                {{x.activityWent}}
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="Ranhistoricaldata.length=='0'">
                    <tr>
                        <td colspan="12">
                            <h5>No Data Found</h5>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </modal-dialog>

    <modal-dialog show='modelAddnewsite' dialog-title='On The Fly' on-close='logClose()' width="80%" height="100">
        <div class="container">
            <div class="row" style="margin: 0;">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>Main ID</label>
                    <div class="form-group">
                        <input-dropdown input-type="text" input-placeholder="Enter Site ID" selected-item="Selected_Main_ID" input-name="ddlSelectedSiteNew" input-required="true" default-dropdown-items="SearchSiteListNew" filter-list-method="filterSiteListNew(userInput)" item-selected-method="SiteListSelectedNew(item)" required></input-dropdown>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Project Code</label>
                    <div class="form-group slt-box">
                        <div ng-dropdown-multiselect="" events="yourEvents" options="workOrderMultiList" class="form-control" selected-model="SelectedworkOrderMultiList" id="workorderid"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Technology</label>
                    <div class="btn-group" style="width:100%;">
                        <select id="example-optgroup-buttonText" multiple="multiple">
                            <optgroup label="{{x.label}}" data-ng-repeat="x in selectGroup" class="group-1">
                                <option value="{{x.label+','+y}}" data-ng-repeat="y in x.data">{{y}} </option>
                            </optgroup>
                        </select>
                        <input id="por_txt" type="hidden" ng-modal="hidden_txt" hidden />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ttt ">
                    <label>T-Mobile Trouble Ticket ID</label>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="Scheduled_T_Mobile_Ticket_Id" name="txt_T-Mobile_Ticket_Id" id="txt_T_Mobile_Ticket_Id" maxlength="12" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Account</label>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="Scheduled_Account" name="txt_Account" id="txt_Account" maxlength="12" disabled />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Market</label>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="Scheduled_Market" name="txt_Market" id="txt_Market" maxlength="12" disabled />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Planned SoW</label>
                    <div class="form-group">
                        <div ng-dropdown-multiselect="" events="yourEvents1" options="sowMultiList" class="form-control" selected-model="SelectedsowMultiList" id="sow"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>TMO Deployment Manager</label>
                    <div class="form-group">
                        <input-dropdown input-type="text" input-placeholder="Select Manager" input-name="ddlSelectedmngr" input-required="true" item-selected-method="managerListSelected(item)"
                                        filter-list-method="filterManagerList(userInput)" selected-item="SelectedManagerNew"
                                        default-dropdown-items="TMO_Deployment_Manager_List">
                        </input-dropdown>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0;">
                <div class="col-lg-12 col-sm-12 col-md-12 ">
                    <label>Cabinet IDs</label>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="Scheduled_Cabinet_IDs" name="txt_Cabinet_IDs" width="100%" id="txt_Cabinet_IDs" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>RF Approval?</label>
                    <div class="form-group">
                        @*<select class="form-control" data-ng-model="Selected_RF_Approval" name="ddl_RF_Approval" id="ddl_RF_Approval" data-ng-change="ddl_RF_Approval_Change_new()" required>
            <option value="">--All--</option>
            <option value="1">Approved</option>
            <option value="2">Not Approved</option>
            <option value="3">Pending</option>
        </select>*@
                        <select class="form-control" name="ddl_RF_Approval" id="ddl_RF_Approval" required>
                            <option value="1">Approved</option>
                            <option value="2">Not Approved</option>
                            <option value="3">Pending</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>RF Approved MW Time(Start Time)</label>
                    <div class="md-form mx-5 my-5">
                        <div class="amp">
                            <input class="inputamp" type="number" maxlength="2" min="0" max="24" placeholder="00" id="start1" ng-model="start1" oninput="maxLengthCheck(this)">:
                            <input class="inputamp" type="number" maxlength="2" min="0" max="59" placeholder="00" id="start2" ng-model="start2" oninput="maxLengthCheck1(this)">
                        </div>
                        @*<input type="time" class="form-control asd" data-ng-model="ddl_RF_Approved_MW_Time" id="ddl_RF_Approved_MW_Time" />*@
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <label>RF Approved(Time it will take)</label>
                    <div class="md-form mx-5 my-5">
                        <div class="amp">
                            <input class="inputamp" type="number" maxlength="2" min="0" max="24" placeholder="00" id="end1" ng-model="end1" oninput="maxLengthCheck(this)">:
                            <input class="inputamp" type="number" maxlength="2" min="0" max="59" placeholder="00" id="end2" ng-model="end2" oninput="maxLengthCheck1(this)">
                        </div>
                        @*<input type="time" class="form-control asd" data-ng-model="rf_approved_timetake" id="rf_approved_timetake" />*@
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3 ">
                    <label>Service Affecting?</label>
                    <div class="form-group">
                        <select class="form-control" data-ng-model="Selected_Service_Affecting" name="ddl_Service_Affecting" id="ddl_Service_Affecting" data-ng-change="ddl_Service_Affecting_Change_new()" required>
                            <option value="">--All--</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0;text-align:center;">
                <div class="col-lg-12 col-sm-12 col-md-12 ">
                    @*<label>Select Type</label>*@
                    <div class="form-group">
                        <input type="radio" value="CX Crew" id="rbcx" name="group2" />CX Crew
                        <input type="radio" value="IX Crew" id="rbix" name="group2">IX Crew
                        <input type="radio" value="BOTH" id="rbboth" name="group2">BOTH
                    </div>
                </div>
            </div>

            <div class="row" style="margin: 0;">
                <div id="divcx">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label for="uname"><b>CX Search By</b></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio" data-ng-click="getSearchVal(changedVal)" data-ng-model="changedVal" value="1" checked>Contact Number</label>
                            <label class="radio-inline"><input type="radio" name="optradio" data-ng-click="getSearchVal(changedVal)" data-ng-model="changedVal" value="2"> E-mail</label>
                            <label class="radio-inline"><input type="radio" name="optradio" data-ng-click="getSearchVal(changedVal)" data-ng-model="changedVal" value="3">Lead  Name</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label class="star">{{SearchPaceHolder}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group" data-ng-class="{ 'has-error' : FormGcLogin.ddlSelectedGC.$invalid && FormGcLogin.$submitted }">
                                <input-dropdown id="ddl_gc" input-type="text" input-placeholder="{{SearchPaceHolder}}" selected-item="SelectedGC" input-name="ddlSelectedGC" input-required="true" default-dropdown-items="SearchGCList" filter-list-method="filterGCList(userInput)" item-selected-method="GCListSelected(item)" required></input-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Vendor</label>
                        <div class="form-group">
                            <div class="form-group">
                                <select disabled class="form-control" data-ng-model="Selected_Cxvendor_ID" id="ddl_Cxvendor_ID" data-ng-change="ddl_Cxvendor_change()">
                                    <option value="">--Select--</option>
                                    <option value="{{x.id}}" data-ng-repeat="x in VendorList">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Lead Contact Number</label>
                        <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="Scheduled_CX_Crew_Ld_Cont_No" name="txt_CX_Crew_Ld_Cont_No" id="txt_CX_Crew_Ld_Cont_No"  maxlength="12" disabled />*@

                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Lead Contact Number</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_CX_Crew_Ld_Cont_No" name="txt_CX_Crew_Ld_Cont_No" id="txt_CX_Crew_Ld_Cont_No" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Lead Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_CX_Crew_Ld_Name" name="txt_CX_Crew_Ld_Name" id="txt_CX_Crew_Ld_Name" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Lead Company</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_CX_Crew_Ld_Company" name="txt_CX_Crew_Ld_Company" id="Scheduled_CX_Crew_Ld_Company" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>CX Crew Lead E-mail ID</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_CX_Crew_Ld_E_mail_ID" name="txt_CX_Crew_Ld_E_mail_ID" id="txt_CX_Crew_Ld_E_mail_ID" maxlength="12" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0;">
                <div id="divix">
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label for="uname"><b>IX Search By</b></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio1" data-ng-click="getSearchVal1(changedVal1)" data-ng-model="changedVal1" value="1" checked>Contact Number</label>
                            <label class="radio-inline"><input type="radio" name="optradio1" data-ng-click="getSearchVal1(changedVal1)" data-ng-model="changedVal1" value="2"> E-mail</label>
                            <label class="radio-inline"><input type="radio" name="optradio1" data-ng-click="getSearchVal1(changedVal1)" data-ng-model="changedVal1" value="3">Lead Name</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label class="star">{{SearchPaceHolder1}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group" data-ng-class="{ 'has-error' : FormGcLogin.ddlSelectedGC.$invalid && FormGcLogin.$submitted }">
                                <input-dropdown id="ddl_gc1" input-type="text" input-placeholder="{{SearchPaceHolder1}}" selected-item="SelectedGC1" input-name="ddlSelectedGC1" input-required="true" default-dropdown-items="SearchGCList1" filter-list-method="filterGCList1(userInput)" item-selected-method="GCListSelected1(item)" required></input-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>IX Crew Vendor</label>
                        <div class="form-group">
                            <div class="form-group">
                                <select disabled class="form-control" data-ng-model="Selected_Ixvendor_ID" id="ddl_Ixvendor_ID" data-ng-change="ddl_Ixvendor_change()">
                                    <option value="">--Select--</option>
                                    <option value="{{x.id}}" data-ng-repeat="x in VendorList">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>IX Crew Lead Contact Number</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_IX_Crew_Ld_Contact_No" name="txt_IX_Crew_Ld_Contact_No" id="txt_IX_Crew_Ld_Contact_No" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>IX Crew Lead Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_IX_Crew_Lead_Name" name="txt_IX_Crew_Lead_Name" id="txt_IX_Crew_Lead_Name" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>IX Crew Lead Company</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_IX_Crew_Ld_Company" name="txt_IX_Crew_Ld_Company" id="txt_IX_Crew_Ld_Company" maxlength="12" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>IX Crew Lead E-mail ID</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_IX_Crew_Ld_E_mail_ID" name="txt_IX_Crew_Ld_E_mail_ID" id="IX_Crew_Ld_E_mail_ID" maxlength="12" disabled />
                        </div>
                    </div>
                </div>
                @*</div>*@

                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <label>Day MOP or Night MOP</label>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="Selected_Day_MOP_or_Night_MOP" name="ddl_Day_MOP_or_Night_MOP" id="ddl_Day_MOP_or_Night_MOP" data-ng-change="ChangeMOP()" required>
                                <option value="">--All--</option>
                                <option value="1">Day MOP</option>
                                <option value="2">Night MOP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3" id="reasonMOP">
                        <label>Reason for Day MOP</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="Scheduled_Reason_for_Day_MOP" name="txt_Reason_for_Day_MOP" id="txt_Reason_for_Day_MOP" maxlength="50" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="button" class="btn btn-success" value="Save" data-ng-click="AddNewSiteClick()" />
                    <input type="button" class="btn btn-default" value="Reset" data-ng-click="ClearAddMarket()" />
                </div>
            </div>
        </div>
    </modal-dialog>
    <modal-dialog show='modalcrew' dialog-title='Current Crew Detail' on-close='logClose()' width="1000">
        <div>
            <table class="table table-bordered" id="table">
                <thead>
                    <tr style="background:#e4af8a;color:white;">
                        <th style="background:#e4af8a ;color:white;" colspan="5"> CX Crew </th>
                    </tr>
                </thead>
                <thead>
                    <tr style="background:#0793ca;color:white;">
                        <th>CX Crew Vendor Name</th>
                        <th>CX Crew Lead Name</th>
                        <th>CX Crew Lead Company</th>
                        <th>CX Crew Lead E-mail ID</th>
                        <th>CX Crew Lead Contact Number</th>
                    </tr>
                </thead>
                <tbody style="background:#ff03;">
                    <tr data-ng-repeat="x in cxData">
                        <td>{{x.ho_cx_crew_vendor}}.</td>
                        <td>{{x.ho_cx_crew_lead_name}}.</td>
                        <td>{{x.ho_cx_crew_lead_company}}</td>
                        <td>{{x.ho_cx_crew_lead_e_mail_id}}</td>
                        <td>{{x.ho_cx_crew_lead_contact_no}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="cxData.length=='0'">
                    <tr>
                        <td colspan="17">
                            <h5>No Data Found</h5>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-bordered" id="table">
                <thead>
                    <tr style="background:#e4af8a;color:white;">
                        <th class="th" style="background:#e4af8a;color:white;" colspan="5"> IX Crew</th>
                    </tr>
                </thead>
                <thead>
                    <tr style="background:#0793ca;color:white;">
                        <th>IX Crew Vendor Name</th>
                        <th>IX Crew Lead Name</th>
                        <th>IX Crew Lead Company</th>
                        <th>IX Crew Lead E-mail ID</th>
                        <th>IX Crew Lead Contact Number</th>
                    </tr>
                </thead>
                <tbody style="background: #ff03;">
                    <tr data-ng-repeat="x in ixdata">
                        <td>{{x.ho_ix_crew_vendor}}.</td>
                        <td>{{x.ho_ix_crew_lead_name}}.</td>
                        <td>{{x.ho_ix_crew_lead_company}}</td>
                        <td>{{x.ho_ix_crew_lead_e_mail_id}}</td>
                        <td>{{x.ho_ix_crew_lead_contact_no}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="ixdata.length=='0'">
                    <tr>
                        <td colspan="17">
                            <h5>No Data Found</h5>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <input type="button" class="btn btn-success" value="HandOver" data-ng-click="crewNew()" />
        <input type="button" class="btn btn-success" value="Cop Details" data-ng-click="GetCopList()" />
        <input type="button" class="btn btn-success" value="TimeLine" data-ng-click="GetTimeLineList()" />
        <a ng-show="crewImgId!=0 && crewImgId!=''" title="Download Crew images" href="~/Upload-file/CrewImage/{{crewSiteId}}_{{crewImgId}}.zip" target="_blank" class="btn btn-success btn-sm"> CX-Images  <i class="fa fa-download"> </i></a>

    </modal-dialog>

    <modal-dialog show='modelMapAll' dialog-title='All Sites' on-close='logClose()' width="1000">
        <div id="map_Filter" style="width:100%;">
            <table style="width:80%;border:hidden;">
                <tr>
                    <td>
                        <label>Select Site Status</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="ddlMapstatus" name="ddlMapstatus" id="ddlMapstatus" data-ng-change="ddl_MapStatus_Change()">
                                <option value="0">All</option>
                                <option value="1">Pending</option>
                                <option value="2">Completed</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <label>Select Service Affecting</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="ddlimpact" name="ddlimpact" id="ddlimpact" data-ng-change="ddl_MapStatus_Change()">
                                <option value="0">All</option>
                                <option value="1">SI</option>
                                <option value="2">NSI</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="map_regionNew" style="width:100%; height:400px;"></div>
    </modal-dialog>
    <modal-dialog show='modalMobileReq' dialog-title='Manual Request' on-close='logClose()' width="60%">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="form-group col-lg-2 col-sm-2 col-md-2">
                    <h3>Select Sow Details</h3>
                </div>
                <div class="form-group col-lg-2 col-sm-2 col-md-2">
                    <div class="form-group">
                        <div ng-dropdown-multiselect="" events="yourEvents1" options="sowDetailslist" class="form-control" selected-model="mobsowDetails"></div>
                    </div>
                </div>
                <div class="form-group col-lg-3 col-sm-3 col-md-3">
                    <h3>Enter Sow Comment</h3>
                </div>
                <div class="form-group col-lg-5 col-sm-5 col-md-5">
                    <textarea ng-model="mobSowcomment" id="mobsowComment" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-3 col-sm-3 col-md-3">
                <h3>Enter Nesting Time</h3>
            </div>
            <div class="form-group col-lg-3 col-sm-3 col-md-3">
                <input ng-model="mobNestingTime" id="mobNestingTime" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-success" value="RequestPrecheck" data-ng-click="submitMobileReq(1)" />
            </div>
        </div>
    </modal-dialog>
    <modal_dialog show='modalfilterdashboard' dialog-title='Filter Dashboard' on-close='logClose()'>
        <div class="form-group slt-box">
            <label>Select Header To See in Dashboard</label>
            <div ng-dropdown-multiselect="" events="yourEvents12" options="headerList" selected-model="selectedHeader"></div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="button" class="btn btn-success" value="Save" data-ng-click="submitselectedHeader()" />
            </div>
        </div>
    </modal_dialog>
    <modal-dialog show='modalCop' dialog-title='EOS And Send Mail' width="60%" on-close='logClose()'>
        <div ng-show="Copflag==1">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h3>EOS Precheck</h3>
                        </div>
                    </div>
                    <div class="row" style="margin: 0; margin-top:5px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>EOS</th>
                                    <th>Downlaod</th>
                                </tr>
                            </thead>
                            <tbody data-ng-if="copPreId!=0">
                                <tr data-ng-repeat="x in CopPreList">
                                    <td>{{$index+1}}.</td>
                                    <td data-ng-if="x.copType==1">{{x.copName}}</td>
                                    <td data-ng-if="x.copType==1"><a title="download uploaded file" href="~/Upload-file/Cop/Pre/{{x.siteId}}_{{x.schCopId}}/{{x.imageName}}" target="_blank" class="btn btn-success btn-sm"><i class="fa fa-download"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-if="CopPreList.length=='0' || copPreId==0">
                                <tr>
                                    <td colspan="3">
                                        <h5>No Data Found</h5>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h3>EOS Postcheck</h3>
                        </div>
                    </div>
                    <div class="row" style="margin: 0; margin-top:5px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>EOS</th>
                                    <th>Downlaod</th>
                                </tr>
                            </thead>
                            <tbody data-ng-if="copPostId!=0">
                                <tr data-ng-repeat="x in CopPostList">
                                    <td>{{$index+1}}.</td>
                                    <td data-ng-if="x.copType==2">{{x.copName}}</td>
                                    <td data-ng-if="x.copType==2"><a title="download uploaded file" href="~/Upload-file/COP/Post/{{x.siteId}}_{{x.schCopId}}/{{x.imageName}}" target="_blank" class="btn btn-success btn-sm"><i class="fa fa-download"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-if="CopPostList.length=='0' || copPostId==0">
                                <tr>
                                    <td colspan="3">
                                        <h5>No Data Found</h5>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="((CopPostList.length!='0' && copPostId!=0) || (CopPreList.length!='0' && copPreId!=0)) && Copflag==1" class="row" style="margin: 0; margin-top:5px;">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <label class="star">From Email</label>
                    <div class="form-group">
                        <select class="form-control" data-ng-model="mailFromId" id="mailFromId" required>
                            <option value="">--Select--</option>
                            <option value="{{x.ID}}" data-ng-repeat="x in MailSenderList">{{x.UserName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <label class="star">Receiver Emails</label>
                    <div class="form-group">
                        <textarea style="width:100%" type="text" data-ng-model='txtTomail' id="txtTomail" required></textarea>
                    </div>
                </div>
                <div class="row text-center" style="margin: 0">
                    <input type="submit" class="btn btn-success" value="Send Mail" data-ng-click="sendCopMail();" />
                    <input type="submit" class="btn btn-dark" value="Clear" data-ng-click="clearCopMail();" />
                </div>
            </div>
        </div>
        <div ng-show="Copflag==2">
            <div class="row" style="margin: 0;">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h3>TIMELINE</h3>
                </div>
            </div>
            <div class="row" style="margin: 0; margin-top:5px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Value</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody data-ng-if="timelineId!=0">
                        <tr data-ng-repeat="x in TimeLineList" style="font-size:medium;">
                            <td>{{$index+1}}.</td>
                            <td>{{x.value}}</td>
                            <td>{{x.fillTime}}</td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-if="TimeLineList.length=='0' || timelineId==0">
                        <tr>
                            <td colspan="3">
                                <h5>No Data Found</h5>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </modal-dialog>
    <modal-dialog show='modalShownDownloadDisclaimer' dialog-title='mPulse T-Mobile(Nokia) : Important Notice' on-close='logClose()' width="1000">
        <div class="row" style="margin:0;">
            <table class="table table-bordered pop-table">
                <thead>
                    <tr>
                        <th style="background-color:#809ed4; font-size:15px; text-align:center!important" colspan="4"><span>INTELECTUAL PROPERTY RIGHT</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <p style="color:green">The information you’re trying to access is confidential and property of MobileComm Professionals Inc. If you’re not the intended recipient you’re noticed that any disclosure, copying, distribution or taking of any action in reliance on the contents of this information is not permissible. Any unauthorized downloads will be investigated and prosecuted in accordance with applicable local laws. Continuing with download  process implies you understand and acknowledge the above and  agree that information won’t be misused, any failure to comply MobileComm Professionals reserves the right to take appropriate actions. For questions contact Mobielocmm Corporate security in your region.</p>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                            <input type="button" value="Export to Excel" class="btn btn-success" data-ng-click="Export_Click_RANDAR()" /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </modal-dialog>

</div>
<script type="text/javascript">
    function maxLengthCheck(object) {
        if (object.value.length >= object.maxLength)
            object.value = object.value.slice(0, object.maxLength) > 24 ? 24 : object.value.slice(0, object.maxLength)
    }
    function maxLengthCheck1(object) {
        if (object.value.length >= object.maxLength)
            object.value = object.value.slice(0, object.maxLength) > 59 ? 59 : object.value.slice(0, object.maxLength)
    }

    $(document).ready(function () {

        $('#rbcx').prop('checked', true);
        $('#divcx').show();
        $('#divix').hide();

        $("#rbcx").change(function () {
            if ($(this).is(":checked")) {
                $('#divcx').show();
                $('#divix').hide();
            }
        });

        $("#rbix").change(function () {
            if ($(this).is(":checked")) {
                $('#divix').show();
                $('#divcx').hide();
            }
        });
        $("#rbboth").change(function () {
            if ($(this).is(":checked")) {
                $('#divcx').show();
                $('#divix').show();
            }
        });

        $('#example-optgroup-buttonText').multiselect({
            buttonText: function (options, select) {

                // First consider the simple cases, i.e. disabled and empty.
                if (this.disabledText.length > 0
                        && (this.disableIfEmpty || select.prop('disabled'))
                        && options.length == 0) {

                    return this.disabledText;
                }
                else if (options.length === 0) {
                    return this.nonSelectedText;
                }

                var $select = $(select);
                var $optgroups = $('optgroup', $select);

                var delimiter = this.delimiterText;
                var text = '';
                var $slt = [];
                // Go through groups.
                $optgroups.each(function () {
                    var $selectedOptions = $('option:selected', this);
                    var $options = $('option', this);
                    var key = $(this).attr('label');
                    var val = []
                    $selectedOptions.each(function () {
                        val.push($(this).val());
                        console.log("text11", val)
                    });

                    $slt.push({ [key]: val, key: key });
                    $('#por_txt').val(JSON.stringify($slt));
                    console.log("text9", $slt)


                    if ($selectedOptions.length == $options.length) {
                        text += $(this).attr('label') + delimiter;
                    }
                    else {
                        $selectedOptions.each(function () {
                            text += $(this).text() + delimiter;
                            console.log("text", text)
                        });
                    }
                });

                var $remainingOptions = $('option:selected', $select).not('optgroup option');
                $remainingOptions.each(function () {
                    text += $(this).text() + delimiter;
                });

                return text.substr(0, text.length - 2);
            }
        });
    });

    var tableCont = document.querySelector('#table-cont');
    function scrollHandle(e) {
        var scrollTop = this.scrollTop;
        this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
    }
    if(tableCont!=null)
    tableCont.addEventListener('scroll', scrollHandle);

</script>
<style>
    .amp {
        background-color: white;
        display: inline-flex;
        border: 1px solid #ccc;
        color: #555;
    }

    .inputamp {
        border: none;
        color: #555;
        text-align: center;
        width: 60px;
    }

    .asd::-webkit-datetime-edit-ampm-field {
        display: none;
    }

    input[type=time]::-webkit-clear-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>
