﻿
@{
    ViewBag.Title = "Test";
    Layout = null;
}
<html lang="en" data-ng-app="mPulseApp">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mPulse T-Mobile</title>
    @*<link rel="icon" href="./img/core-img/favicon.ico">*@
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/themes/template.css" rel="stylesheet" />
    <link href="~/Content/css/classy-nav.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.alerts.css" rel="stylesheet" />
    @* <script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/naresh.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
    <script src="https://unpkg.com/jspdf-autotable@3.2.11/dist/jspdf.plugin.autotable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        .wrap-chart {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            overflow-x: scroll;
        }

        .modal-open {
            overflow: unset !important;
        }

        .table-condensed tbody tr td:first-child {
            padding: 0 18px;
        }

        .tab-list-td tbody tr td {
            border: 1px solid gray;
            padding: 11px 8px;
        }

            .tab-list-td tbody tr td input {
                margin-right: 5px;
                vertical-align: bottom;
            }

        .tab-list-td tbody tr td {
            font-size: 1.3rem;
            vertical-align: middle;
        }

        .tab-list-td {
            margin: 20px 0px !important;
        }

            .tab-list-td tbody tr td input {
                position: relative;
                z-index: 2;
            }

            .tab-list-td input[type="radio"]:checked + label {
                background: #c1c1c1 !important;
            }

            .tab-list-td tbody tr td {
                position: relative;
            }

        label.back-grd {
            position: absolute;
            width: 100%;
            top: -5px;
            left: 0;
            height: 100%;
            display: block;
            /* z-index: -1; */
            opacity: 0.5;
            z-index: 1;
        }

        ul#nav li {
            z-index: unset !important;
        }
    </style>


</head>
<body data-ng-controller="IndexController">
    <header class="header-area">
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off light left">
                <div class="container">
                    <input type="hidden" id="hdnUserType" value="@Session["UserType"]" />
                    <input type="hidden" id="hdnUserScope" value="@Session["UserScope"]" />
                    <nav class="classy-navbar justify-content-between" id="razoNav">
                        <a class="nav-brand" href="/#/">
                            <img src="~/Images/logo.png" />
                        </a>
                        <div class="classy-menu">
                            <div class="classynav">
                                <ul id="nav">
                                    <li style="height:100%;" data-ng-if="IsTMOBAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_dashboard" class="active" href="/#/dashboard">Customer Dashboard</a>
                                        <ul class="dropdown">
                                            @*@if (@Session["UserScope"].ToString() == "Admin"){}*@

                                            <li><a href="/#/cxixApproval"><i class="fa fa-check-square"></i>&nbsp;CX/IX Approval</a></li>
                                            <li><a href="/#/copApproval"><i class="fa fa-check-square"></i>&nbsp;EOS Approval</a></li>
                                            <li><a href="/#/copApprovalReport"><i class="fa fa-check-square"></i>&nbsp;EOS Approval Report</a></li>

                                            <li><a href="/#/vendordashboard"><i class="fa fa-check-square"></i>&nbsp;Vendor Scorecard</a></li>
                                        </ul>
                                    </li>
                                    <li data-ng-if="IsDashboardAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_dashboard" class="active" href="/#/dashboard">Dashboard</a>
                                        <ul class="dropdown">
                                            <li><a href="/#/utilizationReportnew"><i class="fa fa-check-square"></i>&nbsp;RAN Utilization Report</a></li>
                                            @*<li><a href="/#/ciqutilizationreport"><i class="fa fa-check-square"></i>&nbsp;CIQ&Scripting Utilization Report</a></li>*@
                                            <li><a href="/#/kpiutilizationreport"><i class="fa fa-check-square"></i>&nbsp;KPI Utilization Report</a></li>
                                            @*<li><a href="/#/ixutilizationreport"><i class="fa fa-check-square"></i>&nbsp;IX Utilization Report</a></li>*@
                                            <li><a href="/#/accountmarketreport"><i class="fa fa-ticket"></i>Account Market Report</a></li>
                                            <li><a href="/#/forecastActual"><i class="fa fa-ticket"></i>Forecast vs Actual Progress</a></li>
                                        </ul>
                                    </li>
                                    <li data-ng-show="IsTrainingAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_mop" href="javascript:">Training & MOP</a>
                                        <ul class="dropdown" data-ng-show="!MOPAuthontication">
                                            <li>
                                                <div class="row" style="margin: 0">
                                                    <div class="col-lg-8">
                                                        <input type="password" data-ng-style="{ border: menu_error1 == true ? '1px solid red' : '' }" data-ng-model="txt_menupassword1" id="txt_menupassword1" class="form-control" placeholder="Enter Password" />
                                                        <span style="color: red" data-ng-if="menu_error1">Invalid Password</span>
                                                    </div>
                                                    <div class="col-lg-3 text-left">
                                                        <input type="button" value="View" class="btn btn-primary" data-ng-click="MOPAuthontication_click()" />
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="dropdown" data-ng-show="MOPAuthontication">
                                            <li><a href="/#/trainingmop"><i class="fa fa-user"></i>&nbsp;Training & MOP</a></li>
                                        </ul>
                                    </li>
                                    <li data-ng-show="IsAdmin" class="cn-dropdown-item has-down">
                                        <a id="tab_master" href="javascript:">Admin</a>
                                        <ul class="dropdown" data-ng-show="!MasterAuthontication">
                                            <li>
                                                <div class="row" style="margin: 0">
                                                    <div class="col-lg-8">
                                                        <input type="password" data-ng-style="{ border: menu_error == true ? '1px solid red' : '' }" data-ng-model="txt_menupassword" id="txt_menupassword" class="form-control" placeholder="Enter Password" />
                                                        <span style="color: red" data-ng-if="menu_error">Invalid Password</span>
                                                    </div>
                                                    <div class="col-lg-3 text-left">
                                                        <input type="button" value="View" class="btn btn-primary" data-ng-click="MasterAuthontication_click()" />
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="dropdown" data-ng-show="MasterAuthontication">
                                            <li><a href="/#/gcaccount"><i class="fa fa-user"></i>&nbsp;Manage Account</a></li>
                                            <li><a href="/#/gcmarket"><i class="fa fa-user"></i>&nbsp;Manage Markets</a></li>
                                            <li><a href="/#/managevendor"><i class="fa fa-user"></i>&nbsp;Manage Vendor</a></li>
                                            <li><a href="/#/managescorecard"><i class="fa fa-user"></i>&nbsp;Manage Vendor Score Card</a></li>
                                            <li><a href="/#/managecrew"><i class="fa fa-user"></i>&nbsp;Manage Crew</a></li>
                                            <li><a href="/#/managecrewscompany"><i class="fa fa-user"></i>&nbsp;Manage Crews Company</a></li>
                                            <li><a href="/#/managetmobiledeployment"><i class="fa fa-user"></i>&nbsp;T-Mob Deployment Managers</a></li>
                                            <li><a href="/#/managetier"><i class="fa fa-user"></i>&nbsp;Manage Tier</a></li>
                                            <li><a href="/#/manageengineer"><i class="fa fa-user"></i>&nbsp;Manage Engineers</a></li>
                                            <li><a href="/#/managesite"><i class="fa fa-user"></i>&nbsp;Manage Site</a></li>
                                            <li><a href="/#/manageoss"><i class="fa fa-user"></i>&nbsp;Manage OSS</a></li>
                                            <li><a href="/#/manageutilization"><i class="fa fa-key"></i>&nbsp;Manage Utilization</a></li>
                                            <li><a href="/#/uploadmaster"><i class="fa fa-upload"></i>&nbsp;Upload Masters</a></li>
                                            <li><a href="/#/mailsender"><i class="fa fa-cogs"></i>&nbsp;Manage Mail Sender</a></li>
                                            <li><a href="/#/manageDropdown"><i class="fa fa-user"></i>&nbsp;Manage Dropdown List</a></li>
                                            <li><a href="/#/manageGrpah"><i class="fa fa-user"></i>&nbsp;Manage KPI GRAPH</a></li>
                                            <li><a href="/#/manageReports"><i class="fa fa-cogs"></i>&nbsp;Manage Automate Reports</a></li>
                                            @*<li><a href="/#/managecustomer"><i class="fa fa-user"></i>&nbsp;Manage Customers</a></li>*@
                                            <li><a href="/#/masterpassword"><i class="fa fa-cogs"></i>&nbsp;Master Password</a></li>
                                            <li><a href="/#/geofencingRange"><i class="fa fa-check-square"></i>&nbsp;Manage Mobile Geofencing</a></li>
                                            <li><a href="/#/generatePreviousdata"><i class="fa fa-check-square"></i>&nbsp;Manage Old Records</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>

                                    <li data-ng-if="IsNDAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_scripting" href="javascript:">Network Database</a>
                                        <ul class="dropdown">
                                            <li><a href="/#/ciqsdashboard"><i class="fa fa-building"></i>&nbsp;NETWORK DATABASE</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>

                                    <li data-ng-if="IsRANAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_ran" href="javascript:">RAN SUPPORT</a>
                                        <ul class="dropdown">
                                            <li><a href="/#/gcdashboardNew"><i class="fa fa-dashboard"></i>&nbsp;RAN Support Dashboard</a></li>
                                            <li><a href="/#/rantrackernew"><i class="fa fa-cog"></i>&nbsp;RAN Support Tracker</a></li>
                                            @if (@Session["UserScope"].ToString() != "TMOBUser")
                                            {
                                                <li><a href="/#/randailyactivityreport"><i class="fa fa-check"></i>&nbsp;RAN Daily Activity Report</a></li>
                                                <li><a href="/#/slaReport"><i class="fa fa-check-square"></i>&nbsp;RAN SLA Report</a></li>
                                            }
                                            <li><a href="/#/healthcheck"><i class="fa fa-cog"></i>&nbsp;Health Check</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>
                                    <li data-ng-if="IsTTAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_ran" href="javascript:">TROUBLE TICKET</a>
                                        <ul class="dropdown">
                                            <li><a href="/#/viewtroubleticketnew"><i class="fa fa-dashboard"></i>&nbsp;Trouble Ticket Dashboard</a></li>
                                            <li><a href="/#/troubletickettracker"><i class="fa fa-cog"></i>&nbsp;Trouble Ticket Tracker</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>
                                    <li data-ng-if="IsE911Access" class="cn-dropdown-item has-down">
                                        <a id="tab_ran" href="javascript:">E911 CALL TEST</a>
                                        <ul class="dropdown">
                                            <li><a href="/#/viewcalltest"><i class="fa fa-dashboard"></i>&nbsp;E911 Call Test Dashboard</a></li>
                                            <li><a href="/#/calltesttracker"><i class="fa fa-cog"></i>&nbsp;E911 Call Test Tracker</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>
                                    <li data-ng-if="Is48Access" class="cn-dropdown-item has-down">
                                        <a id="tab_ran" href="javascript:">48 Alarm </a>
                                        <ul class="dropdown">
                                            <li><a href="/#/alarmdash"><i class="fa fa-dashboard"></i>&nbsp;48 Alarm Dashboard</a></li>
                                            <li><a href="/#/alarmtracker"><i class="fa fa-cog"></i>&nbsp;48 Alarm Tracker</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>
                                    @if (@Session["UserScope"].ToString() == "Admin")
                                    {
                                        <li data-ng-if="IsPOSTIXAccess" class="cn-dropdown-item has-down">
                                            <a id="tab_ran" href="javascript:">Post IX RF Support</a>
                                            <ul class="dropdown">
                                                @if (Session["UserScope"].ToString() != "TMOBUser")
                                                {
                                                    <li><a href="/#/IxRfSupportDashboard"><i class="fa fa-dashboard"></i>&nbsp;Post IX RF Support Dashboard</a></li>
                                                }
                                                <li><a href="/#/IxRfSupportTracker"><i class="fa fa-cog"></i>&nbsp;Post IX RF Support Tracker</a></li>
                                                <li><a href="/#/degradedSites"><i class="fa fa-dashboard"></i>&nbsp;KPI Degraded Sites</a></li>
                                                <li><a href="/#/onAirDashboard"><i class="fa fa-cog"></i>&nbsp;On Air</a></li>
                                                @if (Session["UserScope"].ToString() != "TMOBUser")
                                                {
                                                    <li><a href="/#/ciqcloseoutreport"><i class="fa fa-dashboard"></i>&nbsp;Closeout Report</a></li>
                                                    <li><a href="https://powerbi.microsoft.com/en-us/"><i class="fa fa-cog"></i>&nbsp;KPI Drill Down</a></li>
                                                }
                                                <li><a href="https://100.96.1.18:7070/#/Telco360" target="_blank"><i class="fa fa-cog"></i>&nbsp;Parameter audit</a></li>
                                            </ul>
                                            <span class="dd-trigger"></span>
                                        </li>
                                    }
                                    <li data-ng-if="IsCIQAccess" class="cn-dropdown-item has-down">
                                        <a id="tab_ran" href="javascript:">CIQ&Scripting</a>
                                        <ul class="dropdown">
                                            <li><a href="https://mscriptornokia.mpulsenet.com/" target="_blank"><i class="fa fa-cog"></i>&nbsp;Nokia Scripting Tool</a></li>
                                        </ul>
                                        <span class="dd-trigger"></span>
                                    </li>
                                    <li><a id="tab_password" href="/#/change-password">Change Password</a></li>
                                    <li><a href="Home/Logout">Logout</a></li>
                                    <li data-ng-if="pendingReqCount>0 && IsAdmin">
                                        @*/managecrew?flag=1*@
                                        @if (@Session["UserScope"].ToString() == "Admin")
                                        {
                                        <li><a style="color:red;" href="/#/managecrew?flag=1">&nbsp;GC PAG App Approval</a></li>
                                    }
                                    @*<button class="btn btn-danger btn-primary btn-radius" data-ng-click="openCrew()" tooltip="#tt6">GC PAG App Approval</button>*@
                                    </ul>
                                    <div style="padding-top:20px;">
                                        <span class="user-loging"><i class="fa fa-user"></i>@Session["UserWelcomeName"]</span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="podcast-hero-area">
            <div class="container">
                <div style="min-height: 680px;" ng-view>
                </div>
            </div>
        </section>
        <footer class="footer-area">
            <div class="copywrite-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copywrite-text">
                                <p>
                                    Copyright ©
                                    <script>document.write(new Date().getFullYear());</script>
                                    -2019 All rights<a> mPulse</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/Scripts/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
        <script src="~/Scripts/angularjs-dropdown-multiselect.min.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <script src="~/Scripts/bootstrap.js"></script>


        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvO4MiWWER38wQegvOy0VKk_WnNfBuf_Q&sensor=false"></script>
        @*<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>*@
        @*<script src="~/Scripts/ui-bootstrap-tpls.js"></script>*@
        <script src="~/Scripts/ng-modal.js"></script>
        <script src="~/Scripts/moment-with-locales.js"></script>
        <script src="~/Scripts/angular-moment-picker.js"></script>
        <link href="~/Content/angular-moment-picker.css" rel="stylesheet" />
        <script src="~/Scripts/inputDropdown.js"></script>
        <script src="~/Scripts/fixeTableHeaderColumnDirective.js"></script>
        <script src="~/Scripts/calendar.js"></script>
        <script src="~/Scripts/fullcalendar.js"></script>
        <script src="~/Scripts/gcal.js"></script>
        <script src="~/Scripts/dirPagination.js"></script>
        @*<script src="~/Scripts/angular-sanitize.min.js"></script>
            <script src="~/Scripts/textAngular.min.js"></script>*@
        <script src="https://code.highcharts.com/highcharts.js"></script>
        @* <script src="https://code.highcharts.com/modules/series-label.js"></script>*@
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ngx-bootstrap@5.2.0/bundles/ngx-bootstrap.umd.min.js"></script>
        @*<script src="https://code.highcharts.com/modules/export-data.js"></script>*@

        <script src="~/Scripts/Test/spectrum.min.js"></script>
        <script src="~/Scripts/Test/angular-spectrum-colorpicker.min.js"></script>
        <script src="~/Scripts/Test/textAngular-dropdownToggle.js"></script>
        <script src="~/Scripts/Test/textAngular-rangy.min.js"></script>
        <script src='~/Scripts/Test/textAngular-sanitize.min.js'></script>
        <script src="~/Scripts/Test/textAngularSetup.js"></script>
        <script src='~/Scripts/Test/textAngular.min.js'></script>

        @Scripts.Render("bundles/mPulse")
        <script src="~/Scripts/alasql.min.js"></script>
        <script src="~/Scripts/xlsx.core.min.js"></script>
        <script src="~/Scripts/TabletoJson.js"></script>
        <script>


            function openList_card(evt, listName) {

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(listName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it

        </script>
        @* change by divyam 07/22*@
        <script src='https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js'></script>

        <script src='https://www.gstatic.com/firebasejs/8.6.8/firebase-messaging.js'></script>

        <script>

            $(function () {

                //var token = null;
                var config = {
                    apiKey: "AIzaSyDruBXlIQ05N_SQjW7biGjEM09LIHVOKtM",
                    authDomain: "tmo-full-version.firebaseapp.com",
                    databaseURL: "https://tmo-full-version-default-rtdb.firebaseio.com",
                    projectId: "tmo-full-version",
                    storageBucket: "tmo-full-version.appspot.com",
                    messagingSenderId: "19229608658",
                    appId: "1:19229608658:web:6cd19afb16446fc65cfb0b",
                    measurementId: "G-B4ZBQPBYM9"
                };
                firebase.initializeApp(config);

                const messaging = firebase.messaging();

                messaging.requestPermission()
                    .then(function () {
                        console.log("granted");
                        if (getSavedDeviceId()!=null) {
                            console.log("already granted");
                        } else {
                            getRegtoken();
                        }
                    });


                function getRegtoken() {
                    messaging.getToken().then((currentToken) => {
                        if (currentToken) {
                            console.log("currentToken -> ",currentToken);
                            saveDeviceId(currentToken);
                            //saveToken(currentToken)
                            //   updateUIForPushEnabled(currentToken);
                        } else {
                            console.log('No Instance ID token available. Request permission to generate one.');
                            //setTokenSentToServer(false);
                        }
                    }).catch((err) => {
                        console.log('An error occurred while retrieving token. ', err);
                        //setTokenSentToServer(false);
                    });

                }
                function saveDeviceId(token) {
                    console.log("token saved ",token);
                    window.localStorage.setItem('deviceId', token);
                }
                function getSavedDeviceId() {
                    console.log("got saved token", window.localStorage.getItem('deviceId'));
                    return window.localStorage.getItem('deviceId');
                }
                messaging.onMessage(function (payload) {
                    console.log('Message received. ', payload);

                    notificationTitle = payload.notification.title;
                    notificationOptions = {
                        body: payload.notification.body,
                        icon: payload.notification.icon
                    };

                    var notification = new Notification(notificationTitle, notificationOptions);

                    @*if (document.hidden) {
                        console.log('Message received. visible ', payload);
                    } else {

                    }*@
                });

            });

        </script>
        @*change by divyam 07/22*@

    </body>
</html>
